**/*.map
**/*.ts
**/.eslintrc.json
**/tsconfig.json
.github
.gitignore
.versionrc
.vscode-test/**
.vscode/**
.yarnrc
eslint.config.js
knip.json
node_modules/**
out/**
package.json
pnpm-lock.yaml
src/**
test-vsix/**
test/**
vite-configs
TODO.md
MANUAL.md
biome.*
