name: Sync Files

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Checkout destination repository
        uses: actions/checkout@v3
        with:
          repository: Pilaton/vscode-npm-lens-support # target repo
          path: destination
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Copy files
        run: |
          mkdir -p destination/public
          cp vsix/*.vsix destination/
          cp public/{Screenshot-extension.jpg,Screenshot-extension-2.png} destination/public/
          cp {CHANGELOG.md,README.md,LICENSE} destination/

      - name: Push changes
        working-directory: ./destination
        run: |
          git config user.name 'Mark Fish'
          git config user.email 'pilaton.ever@aleeas.com'
          git add .
          git commit -m 'Sync files'
          git push
